.main-wrap {
    margin: 30px auto;
    padding: 20px;
}

.medication-count-table {
    width: 100%;
    border: 2px solid #333;
    border-collapse: collapse;
}

.medication-count-table th,
.medication-count-table td {
    border: 2px solid #333;
    padding: 0.5rem 2rem;
}

.medication-count-table td {
    /*white-space: nowrap;*/
}

.medication-count-table th {
    font-weight: normal;
}

.medication-count-table td {
    border-style: none solid;
    vertical-align: top;
}

.medication-count-table th {
    padding: 0.2em;
    vertical-align: middle;
    /*text-align: center;*/
}

.medication-count-table thead tr.title-list > th {
    text-align: center;
}

/* Mar table */
table.mar-table tbody{
    font-size: 10px;
    font-weight: bold;
}
/* Mar table */

.headline {
    border: 4px double #333;
}
.doc-info li span {
    text-align: right;
    border-bottom: 2px solid #333;
    margin-left: 15px;
    margin-bottom: 8px;
    display: inline-block;
}

.hints div, .service-key i {
    font-weight: normal;
    font-size: 10px;
}

.info-wrap {
    border: 1px solid #333;
    padding: 15px;
    max-width: 800px;
    margin: auto;
}

.span-underline {
    position: relative;
}
.span-underline::before {
    position: absolute;
    content: '';
    height: 1px;
    bottom: 0;
    left: 20px;
    right: 20px;
    min-width: 50%;
    border-bottom: 1px dashed #333;
}

.route-list li {
    margin-right: 15px;
    display: inline-block;
}


/* Some extra css for tally table */
/* borderless table */
.table.table-borderless td, .table.table-borderless th {
    border: 0 !important;
}

.table.table-borderless {
    margin-bottom: 0px;
}
.mb-20 {
    margin-bottom: 20px;
}
.common-ul-style {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.para-hr {
    border-bottom: 2px solid #333;
    margin-left: -10px;
    margin-right: -10px;
}
.left-sm-text {
    text-align: left;
    font-size: 8px;
    vertical-align: top;
}
.right-sm-text {
    text-align: right;
    font-size: 8px;
    vertical-align: bottom;
}
.flexible-td {
    word-wrap: break-word;
    white-space: inherit;
}
.l-border-transparent {
    border-left: transparent !important;
}
.r-border-transparent {
    border-right: transparent !important;
}
.space-20 {
    height: 20px;
}
.space {
    height: 50px;
}
.width-55 {
    width: 55px;
}
.min-width-60 {
    min-width: 60px;
}
.min-width-250 {
    min-width: 250px;
}
.min-width-100 {
    min-width: 100px;
}
.table-area-field100 {
    height: 100px;
}
.table-area-field100 > th {
    vertical-align: top !important;
}
.vertical-align-middle {
    vertical-align: middle !important;
}
.vertical-align-top {
    vertical-align: top;
}
.vertical-align-bottom {
    vertical-align: bottom;
}
.text-underline {
    position: relative;
}
.text-underline:before {
    position: absolute;
    content: '';
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
}

/* Bootstrap customization for tally table design */
.table {
    font-size: 16px;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #333;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 2px solid #333;
}

.mar-table > thead > tr > th {
    font-size: 12px;
    font-weight: bold;
}

.mar-table > tbody > tr > td {
    font-size: 12px;
    font-weight: bold;
}
